<%- include("header") -%>

<nav class="navbar navbar-default">
    <div class="container">
    <div class="navbar-header">
        <p class="navbar-brand">TODO LIST</p>
    </div>
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/">HOME</a></li>
        <% lists.forEach(function(list){%>
            <li><a href="/<%= list %>"><%= list %></a></li>
        <% }) %>
        </ul>
    </div>
</nav>

<div class="box">
    <h1 style="color: #A683E3; text-align: center">Create your own custom To-Do List</h1>
    
    <form action="/createlist" method="POST">
        <div class="center">
            <input class="form-control" type="text" name="newList" placeholder="New list name" autofocus>
        </div>
        <div class="center">
            <button class="switch" type="submit" name="submit" id="createbutton">Create</button>
        </div>
    </form>
</div>

<%- include("footer") -%>